.body{
    background-color: #08192a;
    font-family: sans-serif;
}
.img{
    height: 700px;
}
.margin-top{
    margin-top: 50px;
    color: white;
    font-size: 25px;
    margin-bottom: 30px;
    
}
.text-white{
    color: white;
    word-spacing: 5px;
    font-size: 15px;
}
.btn{
    text-align: center;
    color: #3387a9;
    border: 1px;
    border-style: solid;
    border-color: #3387a9;
    width: 150px;
    border-radius: 0px;
}
.btn:hover{
    color: white;
}
.font{
    margin-top: 30px;
    color: white;
    font-size: 25px;
    margin-bottom: 30px;
}
.opacity{
    background-color: #142e41;
    opacity: 0.5;
}
.input-bg{
    color: white;
    border: 1px;
    border-style: solid;
    border-color: white;
    height: 40px;
    width: 230px;
    padding-left: 10px;
    font-size: 15px;
}
.btn-start{
    background-color: #3387a9;
    text-align: center;
    color: white;
    border: 1px;
    border-style: solid;
    border-color:  #3387a9;
    height: 40px;
    width: 230px;
    font-size: 15px;
}
.secure{
    color: white;
    font-size: 15px;
}
.btn-start:hover{
    background-color: #08192a
}